INSY_APP_ENV=local
INSY_SOURCE_MODE=mock
INSY_DATA_DIR=data

WAITES_BASE_URL=https://data.api.waites.net/v1_1
WAITES_ACCESS_TOKEN=replace-me
WAITES_FACILITY_ID=679

MAXIMO_DSN=MaximoMAS9
MAXIMO_SCHEMA=
MAXIMO_QUERY_TIMEOUT_SECONDS=30
